body{
    font-family: 'Arial', sans-serif;
    margin:0;

}

.landing-page{
    background:url('../assets/bg.jpg');
    background-size: cover;
    height:700px;
    width:100%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}
.content{
    text-align: left;
    width: 40%;
    color: white;
    margin-top: 150px;
    font-size: 20px;
    margin-left: 20px;
}

.content h1{
    font-size: 50px;
    
}
.content p{
    font-size: 25px;
}
button{
    background-color: orange;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.hero-section {

  text-align: center;
    margin-top: 100px;
}
.hero-section .cards {

    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-direction: row;
}
.hero-section .card {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;

}

.hero-section .card:hover {
    transform: translateY(-10px);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.hero-section .cards img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}